/*
POSICIONAMIENTO FIJO
*/

*{
    margin:15px;

}

div{
    width: 200px;
    height: 200px;
    background-color: orange;
    padding:10px;
}

.caja{
    position: fixed;
    /*top: ;
    bottom:;
    right:;*/
    left:400px;
}
